/* SAFA Style Sheet */
body {
	margin: 0 0 0 0;
	font-family: helvetica;
	background-color: #EBEBEB

}
/*Header */
#header{
	height: 15%;
	padding-left: 2.8%;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=1 );

}
#feed-container{
	background-color: #626262;
}

#feed{
	text-align: center;
	padding-top: 0.25%;
	padding-bottom: 0.25%;
	color: white;
	margin-left: 67%;



}


/* Navigation Styles */
ul#menu {
	list-style-type: none;

	padding: 1% 0 0 0;
	margin: 0;
}
ul#menu li a {
	text-decoration: none;
	color: white;
	padding-left: 3%;
	padding-right: 3%;


}
ul#menu li {
	list-style-type: none;
    display: inline;
	padding: 0;

}
#nav {
	margin-top: 0;
	/* gradients */
	background: rgba(204,31,37,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(204,31,37,1) 0%, rgba(214,45,51,1) 50%, rgba(204,31,37,1) 53%, rgba(204,31,37,1) 75%, rgba(204,31,37,1) 100%);
 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,31,37,1)), color-stop(50%, rgba(214,45,51,1)), color-stop(53%, rgba(204,31,37,1)), color-stop(75%, rgba(204,31,37,1)), color-stop(100%, rgba(204,31,37,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(204,31,37,1) 0%, rgba(214,45,51,1) 50%, rgba(204,31,37,1) 53%, rgba(204,31,37,1) 75%, rgba(204,31,37,1) 100%);
 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(204,31,37,1) 0%, rgba(214,45,51,1) 50%, rgba(204,31,37,1) 53%, rgba(204,31,37,1) 75%, rgba(204,31,37,1) 100%);
 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(204,31,37,1) 0%, rgba(214,45,51,1) 50%, rgba(204,31,37,1) 53%, rgba(204,31,37,1) 75%, rgba(204,31,37,1) 100%);
 /* IE 10+ */background: linear-gradient(to bottom, rgba(204,31,37,1) 0%, rgba(214,45,51,1) 50%, rgba(204,31,37,1) 53%, rgba(204,31,37,1) 75%, rgba(204,31,37,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1f25', endColorstr='#cc1f25', GradientType=0 );
/* IE6-9 */
	/*margin-right: auto;
	margin-left: auto;*/
	width: 100%;
	padding-top: 0%;
	padding-bottom: 1%;
	/*text-align: center;
	padding-right: auto;
	padding-left: auto;*/
}

.sub {
	margin-bottom: 2%;
	margin-top: 2%;
	padding-top: 1%;
	padding-bottom: 1%;



}



.sub:hover{
	box-shadow: 0px 2px 2px #AB1E23;
}
